body {
  color: rgb(94, 78, 78);
  font-family: Optima, sans-serif;
  width: 100%;
}

.container {
  display: flex;
  width: auto;
}


/* Header */

header {
  height: 64px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 12px;
  justify-content: space-between;
  padding-right: 0 58px;
}

a{
  color: rgb(158, 152, 152);
  padding-right: 20px;
}



.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: flex;
  height: 60px;

}

.logo span{
  font-size: 28px;
  color: rgb(158, 152, 152);
}

.logo h2 {
  font-size: 28px;

}

nav a {
  diplay: flex;
  font-size: 24px;
  text-decoration: none;
}

/* Main-banner */

.headline img {
  width: 90%;
  margin: 32px 24px;
  display: flex;
}

.main-banner {
  background-color: rgb(205, 202 ,202);
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  margin-top:
}


.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text h1 {
  font-size: 48px;
}

.text h3 {
  font-size: 30px;
}

.box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 400px;
   height: 75px;
   margin-right: 40px;
   background-color: rgb(69, 62, 62);
}

.box h4 {
  display: flex;
  font-size: 24px;
  color: rgb(247, 246, 246)
  justify-content: : center;
}

.box a {
  display: flex;
  text-decoration: none;

}



/* Campus-Info */

.second-banner img {
  width: 89%;
  margin: 32px 24px;
  display: flex;
}

.second-banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.second-banner h2 {
  margin-left: 24px;
  font-size: 38px;
  display: flex;
  margin-bottom: 24px;
}

.second-banner p {
  margin-left: 24px;
  font-size: 20px;
  diplay: flex;
  color: rgb(187, 179, 178);

}

.second-banner h5 {
  margin-left: 24px;
  font-size: 18px;
  color: rgb(187, 179, 178);
}

.image img {
  width: 65%;
  diplay: flex;
  padding: 16px;
  margin-top: 16px;

}

.campus-info {
  display: inline-flex;
  margin-left: 24px;
}


.info a {
  color: blue;
}

.info h3 {
  font-size: 26px;
}

.info p {
  font-size: 18px;
}


.third-banner {
  display: flex;
  flex-direction: column;
}

/* Learning Section */

.container .learning {
  background-color: rgb(248, 244, 244);
}

.photo {
  background-color: white;
  padding-right: 32px;
}


.start-learning h2 {
  font-size: 38px;
  margin: 32px
}

.start-learning {
  display: flex;
  justify-content: center;
}

.programs {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: center;
  margin: 32px 72px;
  padding-left: 56px;
}

.programs h2 {
  text-align: center;
  margin: 32px 0;
  font-size: 42px;
  padding: 32px;
}

.photo img {
  width: 100%;
  margin-right: 32px;
}

.programs h3 {
  font-size: 28px;
}

.programs p {
  font-size: 18px;
}





/* Thesis Section */

.thesis-exhibit {
  display: flex;
}

.thesis-info {
  display: block;
  flex-direction: column;
}

.video h2 {
  text-align: center;

}

.video video {
  width: 80%;
  display: flex;

}




/* Footer */

.copyright {
  font-size: 20px;
  color: rgb(158, 152, 152);
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 24px;
}

.copyright span {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 20px;
  padding-right: 16px;
}

span a {
  text-decoration: none;
}

@media only screen and (max-resolution: 150dpi)
and (max-width: 480px) {
  header {

  }
}
